@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  /*background: linear-gradient(89.65deg, #004368 24.05%, rgba(0, 67, 104, 0) 82.28%);*/
  /*background-color: #004368;*/
  background-color: #8FEDDC;
  background-image: url('/bannano-prelaunch/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
